# Cleaning the cbonds data

In [ ]:
!pip install --user -r requirements.txt

In [177]:
import pandas as pd
import glob
import dateutil.parser as dparser

### Dividing the bond listings into their resspective quarters or weeks when gathered to try and approximate a date of creation for each bond.

In [178]:
# create a main path so we just have to add the different path extensions to it
github_path = 'https://raw.githubusercontent.com/gabriellavinco/ECB-Bond-Purchases/main/Datasets/historical_lists_cspp/'

In [179]:
# import additions to path
add_path = pd.read_csv('https://www.dropbox.com/s/zts8panmd1qbwx1/df_paths.csv?dl=1')

In [180]:
# change df to list
add_path = add_path["colummn"].to_list()

In [183]:
github_df = []

In [184]:
# goes through all the path additions/extensions and grabs the csv from github then appends the df to a list
for path in add_path:
#     print(path)
    path_year = path[:4]
    path_quarter = path[5:7]
    week_gathered = path[-12:-4]
#     print(week_gathered)
    github_path = str(github_path)
    path = str(path)
    new_path = github_path + path
#     print(new_path)
    df = pd.read_csv(new_path, index_col=None, header=0, encoding='latin-1')
    df["historical_date"] = week_gathered
    df["year"] = path_year
    df["quarter"] = path_quarter
    github_df.append(df)

In [185]:
# github_df

In [186]:
# concatenating all the dfs in github_df list
historical_dfs = pd.concat(github_df)

In [188]:
# check the df
historical_dfs.head()

,NCB,ISIN_CODE,ISSUER_NAME_,MATURITY_DATE_,COUPON_RATE_,historical_date,year,quarter,COUPON_RATE_*,ISSUER_NAME,MATURITY_DATE,COUPON_RATE,Unnamed: 5,Unnamed: 6,Unnamed: 0,ISIN,ISSUER,MATURITY DATE,COUPON RATE
0,IT,XS1088274169,2i Rete Gas S.p.A.,16/07/2019,1.75,20170630,2017,Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IT,XS1088274672,2i Rete Gas S.p.A.,16/07/2024,3,20170630,2017,Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IT,XS1144492532,2i Rete Gas S.p.A.,02/01/2020,1.125,20170630,2017,Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IT,XS1571982468,2i Rete Gas S.p.A.,28/08/2026,1.75,20170630,2017,Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IT,XS0859920406,A2A S.p.A.,28/11/2019,4.5,20170630,2017,Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
# import cbonds
cbonds = pd.read_csv('https://www.dropbox.com/s/vxt2z1f4dn1jz4o/HISTORICAL_BONDS.csv?dl=1')

### Historical Data divided into quarters, years, and the week for the dataset it was taken from

In [207]:
# change name of df
all_historical_copies = historical_dfs

In [208]:
# eliminate redundant columns and combine into one
all_historical_copies["ISIN_Code"] = all_historical_copies["ISIN_CODE"].astype(str) + all_historical_copies["ISIN"].astype(str)
all_historical_copies["Issuer_Name"] = all_historical_copies["ISSUER_NAME_"].astype(str) + all_historical_copies["ISSUER_NAME"].astype(str) + all_historical_copies["ISSUER"].astype(str)
all_historical_copies["Maturity_Date"] = all_historical_copies["MATURITY_DATE_"].astype(str) + all_historical_copies["MATURITY_DATE"].astype(str) + all_historical_copies["MATURITY DATE"].astype(str)
all_historical_copies["Coupon_Rate"] = all_historical_copies["COUPON_RATE_"].astype(str) + all_historical_copies["COUPON_RATE_*"].astype(str) + all_historical_copies["COUPON_RATE"].astype(str) + all_historical_copies["COUPON RATE"].astype(str)

In [209]:
# deleting all the obsolete columns
all_historical_copies = all_historical_copies.drop(columns=['ISIN_CODE',
                                                            'ISSUER_NAME_',
                                                            'MATURITY_DATE_',
                                                            'COUPON_RATE_',
                                                            'COUPON_RATE_*',
                                                            'ISSUER_NAME',
                                                            'MATURITY_DATE',
                                                            'COUPON_RATE',
                                                            'Unnamed: 5',
                                                            'Unnamed: 6',
                                                            'Unnamed: 0',
                                                            'ISIN',
                                                            'ISSUER',
                                                            'MATURITY DATE',
                                                            'COUPON RATE'])

In [211]:
# reset index
all_historical_copies = all_historical_copies.reset_index(drop = True)

In [212]:
# all_historical_copies

In [213]:
# remove any nan values that were addded to our info upon the combination from before
for row in range(len(all_historical_copies)):
    all_historical_copies.iloc[row, 4] = all_historical_copies.loc[row]["ISIN_Code"].replace('nan', '')
    all_historical_copies.iloc[row, 5] = all_historical_copies.loc[row]["Issuer_Name"].replace('nan', '')
    all_historical_copies.iloc[row, 6] = all_historical_copies.loc[row]["Maturity_Date"].replace('nan', '')
    all_historical_copies.iloc[row, 7] = all_historical_copies.loc[row]["Coupon_Rate"].replace('nan', '')

In [229]:
# df check
all_historical_copies.head()

,NCB,historical_date,year,quarter,ISIN_Code,Issuer_Name,Maturity_Date,Coupon_Rate
0,IT,20170630,2017,Q2,XS1088274169,2i Rete Gas S.p.A.,16/07/2019,1.75
1,IT,20170630,2017,Q2,XS1088274672,2i Rete Gas S.p.A.,16/07/2024,3.0
2,IT,20170630,2017,Q2,XS1144492532,2i Rete Gas S.p.A.,02/01/2020,1.125
3,IT,20170630,2017,Q2,XS1571982468,2i Rete Gas S.p.A.,28/08/2026,1.75
4,IT,20170630,2017,Q2,XS0859920406,A2A S.p.A.,28/11/2019,4.5

In [215]:
# create lists to compare the isin codes to then create a df with more information
all_isin_codes = all_historical_copies["ISIN_Code"].tolist()
cbonds_isin_list = cbonds["ISIN"].tolist()

In [217]:
included_isin = all_historical_copies.loc[all_historical_copies['ISIN_Code'].isin(cbonds_isin_list)]

In [218]:
# sort values
included_isin = included_isin.sort_values(by=['ISIN_Code'])

In [219]:
# get only unique values
unique = included_isin.ISIN_Code.unique()

In [220]:
# create an empty df
value = pd.DataFrame()

In [221]:
# if item is in the cbonds list then add
for item in unique:
    info = cbonds.loc[cbonds["ISIN"] == item]
    value = value.append(info, ignore_index = True)

In [222]:
# rename column to match other df column name
value = value.rename(columns={"ISIN": "ISIN_Code"})

In [223]:
# merge left and combine the info into one df
combo = included_isin.merge(value, how='left', on='ISIN_Code')

In [225]:
# check df size
print(combo.shape)

(256413, 32)

In [226]:
# sort by isin code then historical date to see for how long the bonds were present in the ECB data
combo = combo.sort_values(by=['ISIN_Code', "historical_date"])

In [228]:
# df check
combo.head()

,NCB,historical_date,year,quarter,ISIN_Code,Issuer_Name,Maturity_Date,Coupon_Rate,company_name,company_description,...,status,stocks_info,bond_types,Floating rate,Foreign bonds,Green bonds,Securitization,Senior Secured,Senior Unsecured,Zero-coupon bonds
5,FI,20170623,2017,Q2,AT0000A0KSM6,NOVOMATIC AG,27/10/2017,5,Novomatic,The NOVOMATIC Holding is an integrated global ...,...,Matured,"Par amount, integral multiple",NaN,no,no,no,no,no,no,no
10,FI,20170630,2017,Q2,AT0000A0KSM6,NOVOMATIC AG,27/10/2017,5.0,Novomatic,The NOVOMATIC Holding is an integrated global ...,...,Matured,"Par amount, integral multiple",NaN,no,no,no,no,no,no,no
9,FI,20170707,2017,Q3,AT0000A0KSM6,NOVOMATIC AG,27/10/2017,5.0,Novomatic,The NOVOMATIC Holding is an integrated global ...,...,Matured,"Par amount, integral multiple",NaN,no,no,no,no,no,no,no
16,FI,20170714,2017,Q3,AT0000A0KSM6,NOVOMATIC AG,27/10/2017,5,Novomatic,The NOVOMATIC Holding is an integrated global ...,...,Matured,"Par amount, integral multiple",NaN,no,no,no,no,no,no,no
2,FI,20170721,2017,Q3,AT0000A0KSM6,NOVOMATIC AG,27/10/2017,5,Novomatic,The NOVOMATIC Holding is an integrated global ...,...,Matured,"Par amount, integral multiple",NaN,no,no,no,no,no,no,no

In [ ]:
# save the unique_improved to csv file
# combo.to_csv (r'/Users/gabbyvinco/Desktop/All_of_the_data.csv', index = False, header=True)